body {
  margin: auto;  
  background-image: linear-gradient(to right top, #d6a0f6, #d094f6, #ca88f5, #c37cf5, #bc70f4, #ab77f9, #9a7efd, #8784ff, #6c98ff, #58aaff, #54b9ff, #62c6ff);
  font-family: Arial, Helvetica, sans-serif;     
}

.login-style{
display: flex; 
margin-top: 10%;
align-items: center;    
margin-left: 40%;
padding: 0 1rem;
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
width: 40vh;
flex-direction: column;
color:  rgb(119, 34, 153);
justify-content: center;
}

.Login-header {
display: flex; 
margin-top: 1%;
align-items: center;
justify-content: space-between;
margin-left: 28%;
padding: 0 1rem;
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
width: 100vh;
}

.input-Login, textarea {
color: rgb(136, 46, 46);
text-align: center;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
margin-top: 10px;
margin-left: 20px;
}
.register-link{
  margin-top: 10px;
  text-decoration: none;
  margin-bottom: 10px;
}
::placeholder{
color: rgb(72, 54, 80);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  animation: rotate 5s linear infinite;  
  filter: drop-shadow(2px 2px 4px rgba(3, 3, 8, 0.5));  
}